@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
}

header {
  text-align: left;
}

body {
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

section {
  display: flex;
  flex-direction: column;
}

/*p {
  display: flex;
  text-align: center;
}*/

.number {
  margin: auto;
  background: #eee;
  color: #333;
  font-size: 6rem;
  width: 13rem;
  padding: 2rem 0rem;
  text-align: center;
}

.guess {
  margin: auto;
  width: 13rem;
  padding: 2rem 0rem;
  font-size: 6rem;
}

.check {
  margin: auto;
  width: 13rem;
  font-size: 30px;
}

.btn {
  padding: 1rem 2rem;
}

.message {
  font-size: 30px;
}
